@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Student", "Index", "Student")
    @Html.ActionLink("Staff", "Index", "Staff")
    @Html.ActionLink("Language", "Index", "Languages")
    @Html.ActionLink("Course", "Index", "Course")
    @Html.ActionLink("Enrolment", "Index", "Enrolment")
    @Html.ActionLink("Activity", "Index", "Activity")
</p>

